@media screen and (max-width: 840px)
  .casino
    padding: 70px 0 70px 0

@media screen and (max-width: 620px)
  .casino
    &__title
      font-size: 28px
      line-height: 44px
      margin: 0
    &__text
      font-size: 14px
      line-height: 22px
      margin: 0 0 20px 0
    &__link
      font-size: 14px
      line-height: 19px
      padding: 13px 15px 11px

