aside.casino
    .casino__container
        h2.casino__title Nyeste nettcasinoer
        p.casino__text De beste nye kasinoene som er lagt til listen vår, inkludert detaljerte casinoomtaler og rangeringer, bonuser, kampanjer.
        .casino__list-wrapper
            ul.casino__list
                li.casino__item
                    .casino__item-image
                        img(src='img/top-casino/casino-image.png' alt='image')
                    .casino__item-title BaoCasino
                    .casino__item-reviews
                        .casino__item-reviews-top
                            img(src='img/top-casino/icon1.svg' alt='icon')
                            img(src='img/top-casino/icon2.svg' alt='icon')
                        .casino__item-reviews-rating
                            img(src='img/top-casino/star.svg' alt='icon')
                            p 9.25 / 10
                    a(href='#').casino__item-link Play Now
                    .casino__item-info
                        .casino__item-info-up 100% Up ₹90,000
                        .casino__item-info-text Biggest Bonus Ever Registration
                    .casino__item-buttons
                        a(href='#').casino__item-button.casino__item-button-orange Leke nå
                        a(href='#').casino__item-button.casino__item-button-transp Get bonus
                li.casino__item
                    .casino__item-image
                        img(src='img/top-casino/casino-image.png' alt='image')
                    .casino__item-title BaoCasino
                    .casino__item-reviews
                        .casino__item-reviews-top
                            img(src='img/top-casino/icon1.svg' alt='icon')
                            img(src='img/top-casino/icon2.svg' alt='icon')
                        .casino__item-reviews-rating
                            img(src='img/top-casino/star.svg' alt='icon')
                            p 9.25 / 10
                    a(href='#').casino__item-link Play Now
                    .casino__item-info
                        .casino__item-info-up 100% Up ₹90,000
                        .casino__item-info-text Biggest Bonus Ever Registration
                    .casino__item-buttons
                        a(href='#').casino__item-button.casino__item-button-orange Leke nå
                        a(href='#').casino__item-button.casino__item-button-transp Get bonus
                li.casino__item
                    .casino__item-image
                        img(src='img/top-casino/casino-image.png' alt='image')
                    .casino__item-title BaoCasino
                    .casino__item-reviews
                        .casino__item-reviews-top
                            img(src='img/top-casino/icon1.svg' alt='icon')
                            img(src='img/top-casino/icon2.svg' alt='icon')
                        .casino__item-reviews-rating
                            img(src='img/top-casino/star.svg' alt='icon')
                            p 9.25 / 10
                    a(href='#').casino__item-link Play Now
                    .casino__item-info
                        .casino__item-info-up 100% Up ₹90,000
                        .casino__item-info-text Biggest Bonus Ever Registration
                    .casino__item-buttons
                        a(href='#').casino__item-button.casino__item-button-orange Leke nå
                        a(href='#').casino__item-button.casino__item-button-transp Get bonus
                li.casino__item
                    .casino__item-image
                        img(src='img/top-casino/casino-image.png' alt='image')
                    .casino__item-title BaoCasino
                    .casino__item-reviews
                        .casino__item-reviews-top
                            img(src='img/top-casino/icon1.svg' alt='icon')
                            img(src='img/top-casino/icon2.svg' alt='icon')
                        .casino__item-reviews-rating
                            img(src='img/top-casino/star.svg' alt='icon')
                            p 9.25 / 10
                    a(href='#').casino__item-link Play Now
                    .casino__item-info
                        .casino__item-info-up 100% Up ₹90,000
                        .casino__item-info-text Biggest Bonus Ever Registration
                    .casino__item-buttons
                        a(href='#').casino__item-button.casino__item-button-orange Leke nå
                        a(href='#').casino__item-button.casino__item-button-transp Get bonus
        button.casino__link Show More #[span (14)]





