aside.aside
    .casino
        .casino__container
            .casino__wrapper
                h2.casino__title Hell Spin Casino comparisson
                ul.casino__list
                    li.casino__item
                        table
                            tr
                                td.casino__item-info
                                    .casino__item-img
                                        img(src='img/top-casino/image.png' alt='casino')
                                    .casino__item-wrap
                                        .casino__item-title Betsson Casino
                                        .casino__item-text $400 Deposit Bonus
                            tr
                                td.casino__item-year
                                    .casino__item-year-title Год основания
                                    .casino__item-year-info 2016
                            tr
                                td.casino__item-year
                                    .casino__item-year-title Год основания
                                    .casino__item-year-info 2016
                            tr
                                td.casino__item-year
                                    .casino__item-year-title Год основания
                                    .casino__item-year-info 2016
                            tr
                                td.casino__item-year
                                    .casino__item-year-title Год основания
                                    .casino__item-year-info 2016
                            tr
                                td.casino__item-year
                                    .casino__item-year-title Год основания
                                    .casino__item-year-info 1x2 , Amatic , Apollo Games , beefee , Betsoft Gaming , Bgaming 46+
                            tr
                                td.link
                                    a(href='#').casino__item-link Играть
                    li.casino__item
                        table
                            tr
                                td.casino__item-info
                                    .casino__item-img
                                        img(src='img/top-casino/image.png' alt='casino')
                                    .casino__item-wrap
                                        .casino__item-title Betsson Casino
                                        .casino__item-text $400 Deposit Bonus
                            tr
                                td.casino__item-year
                                    .casino__item-year-title Год основания
                                    .casino__item-year-info 2016
                            tr
                                td.casino__item-year
                                    .casino__item-year-title Год основания
                                    .casino__item-year-info 2016
                            tr
                                td.casino__item-year
                                    .casino__item-year-title Год основания
                                    .casino__item-year-info 2016
                            tr
                                td.casino__item-year
                                    .casino__item-year-title Год основания
                                    .casino__item-year-info 2016
                            tr
                                td.casino__item-year
                                    .casino__item-year-title Год основания
                                    .casino__item-year-info 1x2 , Amatic , Apollo Games , beefee , Betsoft Gaming , Bgaming 46+
                            tr
                                td.link
                                    a(href='#').casino__item-link Играть
                    li.casino__item
                        table
                            tr
                                td.casino__item-info
                                    .casino__item-img
                                        img(src='img/top-casino/image.png' alt='casino')
                                    .casino__item-wrap
                                        .casino__item-title Betsson Casino
                                        .casino__item-text $400 Deposit Bonus
                            tr
                                td.casino__item-year
                                    .casino__item-year-title Год основания
                                    .casino__item-year-info 2016
                            tr
                                td.casino__item-year
                                    .casino__item-year-title Год основания
                                    .casino__item-year-info 2016
                            tr
                                td.casino__item-year
                                    .casino__item-year-title Год основания
                                    .casino__item-year-info 2016
                            tr
                                td.casino__item-year
                                    .casino__item-year-title Год основания
                                    .casino__item-year-info 2016
                            tr
                                td.casino__item-year
                                    .casino__item-year-title Год основания
                                    .casino__item-year-info 1x2 , Amatic , Apollo Games , beefee , Betsoft Gaming , Bgaming 46+
                            tr
                                td.link
                                    a(href='#').casino__item-link Играть
                    li.casino__item
                        table
                            tr
                                td.casino__item-info
                                    .casino__item-img
                                        img(src='img/top-casino/image.png' alt='casino')
                                    .casino__item-wrap
                                        .casino__item-title Betsson Casino
                                        .casino__item-text $400 Deposit Bonus
                            tr
                                td.casino__item-year
                                    .casino__item-year-title Год основания
                                    .casino__item-year-info 2016
                            tr
                                td.casino__item-year
                                    .casino__item-year-title Год основания
                                    .casino__item-year-info 2016
                            tr
                                td.casino__item-year
                                    .casino__item-year-title Год основания
                                    .casino__item-year-info 2016
                            tr
                                td.casino__item-year
                                    .casino__item-year-title Год основания
                                    .casino__item-year-info 2016
                            tr
                                td.casino__item-year
                                    .casino__item-year-title Год основания
                                    .casino__item-year-info 1x2 , Amatic , Apollo Games , beefee , Betsoft Gaming , Bgaming 46+
                            tr
                                td.link
                                    a(href='#').casino__item-link Играть
                    li.casino__item
                        table
                            tr
                                td.casino__item-info
                                    .casino__item-img
                                        img(src='img/top-casino/image.png' alt='casino')
                                    .casino__item-wrap
                                        .casino__item-title Betsson Casino
                                        .casino__item-text $400 Deposit Bonus
                            tr
                                td.casino__item-year
                                    .casino__item-year-title Год основания
                                    .casino__item-year-info 2016
                            tr
                                td.casino__item-year
                                    .casino__item-year-title Год основания
                                    .casino__item-year-info 2016
                            tr
                                td.casino__item-year
                                    .casino__item-year-title Год основания
                                    .casino__item-year-info 2016
                            tr
                                td.casino__item-year
                                    .casino__item-year-title Год основания
                                    .casino__item-year-info 2016
                            tr
                                td.casino__item-year
                                    .casino__item-year-title Год основания
                                    .casino__item-year-info 1x2 , Amatic , Apollo Games , beefee , Betsoft Gaming , Bgaming 46+
                            tr
                                td.link
                                    a(href='#').casino__item-link Играть


